* {
    margin: 0;
    padding: 0;
}

#wrapper .header {
    background-color: #bf6300;
    padding: 15px 20px;
    min-height: 100px;
    float: left;
    width: 100%;
}

#wrapper .header h1 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
}

#wrapper .header p {
    color: #fff;
    font-size: 20px;
    margin: -5px 0 0;
    font-style: italic;
}

#wrapper .header .header_details {
    width: 360px;
    margin: 0 auto;
}

#wrapper .header .header_details .header_left {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

#wrapper .header .header_details .header_right {
    margin-top: 15px;
    float: left;
    text-align: center;
}

#wrapper .menu {
    background-color: #8dc6ed;
    padding: 0 10px;
    float: left;
    width: 100%;
    text-align: center;
    margin: 0 0 30px;
}

#wrapper .menu ul li {
    display: inline-block;
}

#wrapper .menu ul li a {
    color: #fff;
    padding: 12px 30px;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin: 0 -3px;
}

