* {
    margin: 0;
    padding: 0;
}

#wrapper .header {
    background-color: #bf6300;
    padding: 15px 20px;
    min-height: 150px;
    float: left;
    width: 100%;
}

#wrapper .header .header_details h1 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    font-family: 'Fredoka One', cursive;
    /* letter-spacing: 2px; */
}

#wrapper .header .header_details p {
    color: #fff;
    font-size: 20px;
    margin: -5px 0 0;
    font-style: italic;
}

#wrapper .header .header_details {
    width: 500px;
    margin: 0 auto;
}

#wrapper .header .header_details .header_left {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

#wrapper .header .header_details .header_right {
    margin-top: 15px;
    float: left;
    text-align: center;
}

#wrapper .menu {
    background-color: #8dc6ed;
    padding: 0 10px;
    float: left;
    width: 100%;
    text-align: center;
    margin: 0 0 30px;
}

#wrapper .menu ul li {
    display: inline-block;
}

#wrapper .menu ul li a {
    color: #fff;
    padding: 12px 30px;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin: 0 -3px;
}

#wrapper .menu ul li a.active {
    background-color: #f68710;
    color: #fff;
}

#wrapper .menu ul li a:hover {
    background-color: #ee9c45;
    color: #fff;
}

#wrapper .about {
    display: flex;
    flex-direction: row;
    clear: both;
    padding: 30px;
    background-color: #e9e9e9;
    margin: 30px;
    border-radius: 10px;
}

#wrapper .about .about_left {
    width: 800px;
    overflow: hidden;
}

#wrapper .about .about_left img {
    width: 100%;
}

#wrapper .about .about_right {
    padding: 0 20px 20px;
}

#wrapper .about .about_right h2 {
    font-size: 30px;
    font-weight: bold;
}

#wrapper .about .about_right p {
    font-size: 20px;
}